:root{
    --color1:#313552;
    --color2:#B8405E;
    --color3:#2EB086;
    --color4:#EEE6CE;
    --color-negro:#000000;
    --color-blanco:#ffffff;
    --color-gris-claro:#cccccc;
    --color-gris-oscuro:#333333;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
  }